<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css file -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <!-- mdbootstrap -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css"
    rel="stylesheet"
    />
    <!-- google fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Kanit:300,400,500,700&display=swap"
    rel="stylesheet"
    />
    <title>Registration</title>
</head>
<body>
    <section class="vh-100">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <h1 class="text-center heading">SIGN UP</h1>
            <div class="col-md-9 col-lg-6 col-xl-5">
              <img src="https://media.istockphoto.com/vectors/register-account-submit-access-login-password-username-internet-vector-id1281150061?k=20&m=1281150061&s=612x612&w=0&h=wpCvmggedXRECWK-FVL98MMllubyevIrXuUu50fdCqE="
                class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
    
              <form method="POST" name='registration' >                
                
                {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                {% for category, message in messages %}
                {% if category == "error" %}
                <div class="alert alert-danger alter-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
                {% else %}
                <div class="alert alert-success alter-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
                {% endif %}
                
                {% endfor %}
                {% endif %}
                {% endwith %}

                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="text" id="email" class="form-control form-control-lg" name="email"/>
                  <label class="form-label" for="email">Enter your email</label>
                </div>
                 <!-- username input -->
                 <div class="form-outline mb-3">
                    <input type="text" id="username" class="form-control form-control-lg" name="username"/>
                    <label class="form-label" for="email">Enter your username</label>
                  </div>
      
                <!-- Password input -->
                <div class="form-outline mb-3">
                  <input type="password" id="form3Example4" class="form-control form-control-lg" name="password"/>
                  <label class="form-label" for="form3Example4">Enter your password</label>
                </div>

                <div class="form-outline mb-3">
                  <input type="password" id="form3Example4" class="form-control form-control-lg" name="repeat_password"/>
                  <label class="form-label" for="form3Example4">Confirm password</label>
                </div>

                 <div class="text-center text-lg-start mt-4 pt-2">
                  <button type="submit" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;" onclick="formValidation()">Register</button>
                </div>
      
              </form>
            </div>
          </div>
        </div>
      </section>

      <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"
    ></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>