{% extends "base.html" %}{% block title %}view_post{% endblock %}

{% block content%}

{% if post_view %}
{%for post in post_view%}
<div class="container mt-4 shadow-4">
  <h2>{{post.title}}</h2>
  <p>
    {{post.content}}
  </p>

  <!-- semantic ui -->
<div>
  <div class="ui comments">
    <h3 class="ui dividing header">Comments</h3>
    <div class="comment">
      <a class="avatar">
        <img src="/images/avatar/small/matt.jpg">
      </a>
      <div class="content">
        <a class="author">{{post.user.username}}</a>
        <div class="metadata">
          <span class="date">Today at 5:42PM</span>
        </div>
        <div class="text">
          How artistic!
        </div>
      </div>
    </div>
   
  </div>
  <div>

    <form class="ui reply form">
      <div class="field">
        <input type="text" placeholder="name" >
      <textarea></textarea>
    </div>
    <div class="ui blue labeled submit icon button">
      <i class="icon edit"></i> <a class="btn btn-primary"
      href="">Add comment</a> 
    </div>
  </form>
</div>


</div>
{%endfor%}
{%endif%}
{% endblock %}