{% extends "base.html" %}{% block title %}view_post{% endblock %}

{% block content%}

{% if post_view %}
{%for post in post_view%}
<div class="container mt-4 shadow-4">
  

    <h2>{{post.title}}</h2>
    <p>
      {{post.content}}
    </p>
  </div>
<hr/>

<div class="mt-4">
  <button class="btn btn-primary"
  onclick="commentVisible()" >View comment <i class="fa-regular fa-comments"></i></button> 
</div>

  <!-- semantic ui -->
<div class="container mt-4 shadow-4"  id="comment">
  <div class="ui comments">
    <h3 class="ui dividing header">Comments</h3>
    <div class="comment">
      <a class="avatar">
        <img src="https://semantic-ui.com/images/avatar2/small/matthew.png" width="35px" height="35px">
      </a>
      <div class="content">
        <a class="author">{{post.user.username}}</a>
        <div class="metadata">
          <span class="date">Today at 5:42PM</span>
        </div>
        <div class="text">
          How artistic!
        </div>
      </div>
    </div>
   
  </div>
  <div>

    <form class="ui reply form">
      <div class="field">
        <input type="text" placeholder="name" >
      <textarea></textarea>
    </div>
    <div class="ui blue labeled submit icon button">
      <a class="btn btn-primary"
      href="">Add comment</a> 
    </div>
  </form>
</div>



</div>
{%endfor%}
{%endif%}
{% endblock %}