
/* ------------------------------------------- */

/* base.html alert message   */

#top-alert {
    text-align: center;
    font-size: large;
    border-radius: 10px;
    position: fixed;
    top: 0;
    z-index: 99999;
  }





  /* password secondary label*/
  
  .passlabel{
    color: #2841ca;
   
  }




   /* content shrink into nav bar */

   body{
    padding-top: 70px;
    overflow: hidden;
  }




/* User dropdown on hover display */
.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
  }

.dropdown:hover .dropdown-content {
    display: block;
  }